.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    padding: 25px 0;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #2F303A;
}
.logo2 {
    color: #2196F3;
}
.header-container {
    display: flex;
    gap: 93px;
    align-items: center;
}
.contact-list {
    margin-left: auto;
}
.contact-list, .nav-list {
    display: flex;
    gap: 50px;
}
.nav-list-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.nav-list-link {
    color: #212121;
}
.nav-list-link:hover {
    color: #2196F3;
}
.contact-list-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.contact-list-link {
    color: #757575;
}
.contact-list-link:hover {
    color: #2196F3;
}
.hero {
    background-image: url("./images/background\ hero.png");
    padding: 200px 0;
}
.hero-title {
    text-align: center;
    max-width: 696px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.hero-btn {
    display: block;
    margin: 0 auto;
    width: 216px;
    height: 50px;
    background-color: #2196F3;
    color: white;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}
.features {
    padding: 94px 0;
}
.feature-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.feature-list-title {
    font-family: 'Roboto', sans-serif;
}
.feature-list-text {
    font-family: 'Roboto', sans-serif;
}
.feature-list-item::before {
    content: "";
    display: inline-block;
    background-image: url("./images/Group\ 1.png");
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.feature-list-item:nth-child(2)::before {
    content: "";
    display: inline-block;
    background-image: url("./images/Group\ 2.png");
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.feature-list-item:nth-child(3)::before {
    content: "";
    display: inline-block;
    background-image: url("./images/Group\ 3.png");
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.feature-list-item:nth-child(4)::before {
    content: "";
    display: inline-block;
    background-image: url("./images/Group\ 4.png");
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.work {
    padding-bottom: 94px;
}
.work-title {
    font-family: 'Roboto', sans-serif;
    font-family: 700;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}
.work-list {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.work-list-img-wrap {
    position: relative;
}
.work-list-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #2F303ACC;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.team {
    padding: 94px 0;
    background-color: #F5F4FA;
}
.team-title {
    font-family: 'Roboto', sans-serif;
    font-family: 700;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}
.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.team-list-item {
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
}
.team-list-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding-top: 30px;
}
.team-list-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #757575;
    padding-top: 10px;
}
.social-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 30px;
}
.social-list-item {
    width: 44px;
    height: 44px;
    display: inline-block;
}
.social-list-item:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50%;
}
.social-list-icon {
    fill: currentColor;
}
.clients {
    padding: 94px 0;
}
.clients-title {
    font-family: 'Roboto', sans-serif;
    font-family: 700;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}
.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.clients-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    
}
.clients-list-item {
    flex-basis: calc((100% - 150px) / 6);
}
.clients-list-link {
    height: 92px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    padding: 60px 0;
    background-color: #2F303A;
}
.footer-container {
    display: flex;
    gap: 70px;
}
.footer-logo {
    color: #FFFFFF;
    padding-bottom: 20px;
}
.address-list {
    padding-bottom: 60px 0;
}
.address-list-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.address-list-link {
    color: #757575;
}
.location-link {
    color: #FFFFFF;
}
.portfolio {
    padding: 94px 0;
}
.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.filter-list-btn {
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
}
.filter-list-btn:hover {
    background-color: #2196F3;
    color: #FFFFFF;
} 
.portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 94px 0;
}
.portfolio-list-item {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
}
.portfolio-list-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 24px;
}
.portfolio-list-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    padding-top: 4px;
    padding-left: 24px;
    padding-bottom: 20px;
}