.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    gap: 93px;
    align-items: center;
}
.contact-list {
    margin-left: auto;
}
.contact-list, .nav-list {
    display: flex;
    gap: 50px;
}
.header {
    padding: 25px 0;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}